:root{
    --primary:#1EAA99;
    --darkblk:#272727;
    --lightbg:#F6F6F6;
    
    --font-pop: 'Poppins', sans-serif;
    --font-open: 'Open Sans', sans-serif;
    font-family: var(--font-open);
}
.primary{
    color: var(--primary);
}
.fs-14{
    font-size: 14px;
}
.fw-600{
    font-weight: 600;
}
.fw-500{
    font-weight: 500;
}
.fw-400{
    font-weight: 400;
}
.fw-300{
    font-weight: 300;
}
a:hover{
    text-decoration: none;
}

/******************************************************header******************************************************************************/
header{
    background: #fff;
    width: 100%;
    z-index: 999;
}
.topheader{
    top: 0;
}
.logo-wrapper{
    background: var(--darkblk);
    padding: 2.2rem;
}
.nav-wrapper{
    margin-left: 60px;
    height: 100%;
}
.nav-outer {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-outer .nav-item a {
    color: var(--darkblk);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 2.27rem 2px;
    border-top: 3px solid var(--primary);
    border-width: 0;
    transition: 0.2s all    ;
    -webkit-transition: 0.2s all    ;
    -moz-transition: 0.2s all    ;
    -ms-transition: 0.2s all    ;
    -o-transition: 0.2s all    ;
}
.nav-item {
    margin-right: 1.5rem !important;
}
.nav-outer .nav-item a.active, .nav-outer .nav-item a:hover {
    color: var(--primary);    
    border-top: 3px solid var(--primary);
    border-width: 100%;
}
.search-icon-wrapper, .location-icon-wrapper {
    width: 90px;
}
.search-icon-wrapper a, .location-icon-wrapper a {
    font-size: 1.1rem;
    color: var(--darkblk);
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.search-icon-wrapper a:hover, .location-icon-wrapper a:hover, .home-action a:hover{
    color: var(--primary)
}
.home-action{
    width: 200px;
}
.signup-show{
    width: 100%;
    height: 100%;
}
.home-action a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkblk);
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.home-action a i{
    font-size: 1.4rem;
}
div#menu {
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius:0 ;
    -webkit-border-radius:0 ;
    -moz-border-radius:0 ;
    -ms-border-radius:0 ;
    -o-border-radius:0 ;
}
div#menu .list-group{
    border-radius:0 ;
    -webkit-border-radius:0 ;
    -moz-border-radius:0 ;
    -ms-border-radius:0 ;
    -o-border-radius:0 ;
}

/***********************************************************************hero section****************************************************************/
.hero-wrapper{
    width: 100%;
    height: 500px;
}
.hero-wrapper .hero-bg{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    
}
.hero-content h1{
    font-size: 4rem;
}

/****************************custom select******************/
/*the container must be positioned relative:*/
.custom-select1 {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select1 select {
    display: none; /*hide original SELECT element:*/
  }
  

  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: var(--darkblk);
    top: 60px;
    left: 0;
    right: 0;
    z-index: 99;
}
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .search-main-wrapper .search-main {
    height: 135px;
    background-color: var(--darkblk);
    display: flex;
    align-items: center;
}
.border-right-light{
    border-color: #888 !important;
}
.flex-me{
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-search-input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 0;
    color: #fff;
    padding-left: 20px;
}
.custom-search-input::placeholder {
    color: #fff;
    font-size: 1rem;
}
.search-main-wrapper {
    position: relative;
    top: -69px;
}
.search-main-btn-outer{
    width: 100%;
    height: 100%;
}
button.search-main-btn {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: var(--primary);
    font-size: 1rem;
    box-shadow: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-kerning: auto;
}

/********************************************************************featured section******************************************************************/
.featured-heading{
    display: flex;
    justify-content: space-between;
}
.featured-view-all {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    text-transform: uppercase;
    font-weight: 500;
}
.featured-view-all span {
    width: 35px;
    height: 1px;
    background: var(--primary);
    
}

/*****************************slick slider*****************************************/
.slider {
    width: 100%;    
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

/***********************featured products**************************/
.fst-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.featured-slider-item{
    
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/**********************************************************************media queries*********************************************************************/

@media screen and (max-width:1920px) and (min-width:1500px){

    .container{
        max-width: 1260px;
    }

   
}